.Info {
    font-size: medium;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    padding: 0 30px;
}

.Title {
    font-weight: bold;
}

@media (max-width: 700px) {
    .Info {
        font-size: small;
    }
  }