.parallax {
    /* The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/background.jpg');
  
    /* Set a specific height */
    min-height: 900px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
  
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
  
.title {
    display: block;
    position: absolute;
    color: white;
    font-size: 10vmin;
}

.mainFoto {
    width: 32vmin;
    height: 32vmin;
    padding-bottom: 32vmin;
}

.about {
    background-color: darkcyan;
    min-height: 900px;
    text-align: center;
    padding: 0 6vmin;
}

.about > h2 {
    margin: 0 auto;
    padding: 3vmin;
    font-size: 4rem;
    color: white;
    font-weight: lighter;
}

.computerImage {
    display: block;
    margin: auto;
    width: 70%;
    height: 70%;
}
.inlineBlock {
    display: inline-block;
    padding: 0 0;
    width: 50%;
    font-size: 1.2rem;
    text-align: left;
    font-weight: bold;
    color: white;
}

.inlineBlock > h3 {
    margin: 0 auto;
    font-size: 1.6rem;
    color: white;
    text-align: left;
}

.inlineBlock > h4 {
    margin: 0 auto;
    font-size:  1.6rem;
    color: white;
    text-align: left;
    font-weight: lighter;
}

@media (max-width: 800px) {
    .inlineBlock {
        display: block;
        width: 100%;
    }
}